<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Bank</title>

</head>

<body>
<h1>Unblock</h1>
<div class="unblockInfo" th:if="${accounts.size() > 0}">
    <form th:action="@{/adminCabinet/unblock}" method="post" id="unblockForm">
        <fieldset>
            <legend>Choose account</legend>

            <label for="account">Account:</label>
            <div class="styled-select">
                <select id="account" name="account" required>
                    <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.accountNumber}"></option>
                </select>
            </div>

        </fieldset>

        <input type="submit" class="save-button" value="Unblock">

    </form>
</div>
<div th:unless="${accounts.size() > 0}">
    <p>No accounts available</p>
</div>
<a th:href="@{/adminCabinet}">Back</a>

</body>

</html>